:root {
  --space-s: 14px;
  --space-xs: 12px;
  --space-xxs: 8px;
  --brand: #518581;
}

.wrapper {
  width: 400px;
  height: 52px;
  position: relative;
}

.input {
  background-color: white;
  padding: var(--space-s) var(--space-xs);
  outline: 1px rgba(255, 255, 255, 1);
  border: none;
  width: 400px;
  height: 52px;
  position: relative;
}

.input::placeholder {
  color: rgba(175, 173, 181, 1);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

:focus::-webkit-input-placeholder {
  color: black;
}

.input:focus {
  border: 1px solid #518581;
}

.icon {
  position: absolute;
  top: 13px;
  right: 11px;
}
