.captionSlot {
	color: var(--text-secondary);
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
}

.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.subtitle {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.contentSlot {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}