:root {
  --brand-active: rgba(81, 133, 129, 1);
}

.checkbox input[type='checkbox'] {
  position: relative;
  top: -3px;
  left: -4px;
  background-color: white;
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.checkbox input[type='checkbox']:hover {
  border: 1px solid var(--brand-active);
}

.checkboxDisabled input[type='checkbox'] {
  position: relative;
  top: -3px;
  left: -4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.checkboxChecked input[type='checkbox'] {
  position: relative;
  top: -3px;
  left: -4px;
  background-color: white;
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('data:image/svg+xml,\
 <svg width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg">\
 <path d="M1.66663 9.35484L11.4625 20L28.3333 1.66667" stroke="rgba(81, 133, 129, 1)" stroke-width="3.33333"/>\
</svg>');
  background-repeat: no-repeat;
  background-position: top 10px left 5px;
}

.checkboxChecked input[type='checkbox']:hover {
  border: 1px solid var(--brand-active);
  background-position: top 9px left 4px;
}

.checkboxDisabledChecked input[type='checkbox'] {
  position: relative;
  top: -3px;
  left: -4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('data:image/svg+xml,\
 <svg width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg">\
 <path d="M1.66663 9.35484L11.4625 20L28.3333 1.66667" stroke="rgba(0, 0, 0, 0.2)" stroke-width="3.33333"/>\
</svg>');
  background-repeat: no-repeat;
  background-position: top 10px left 5px;
}
